<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Drivers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-2">

            <div th:switch="${employees}" class="container my-5">
                <h2 align="center"> List of Drivers </h2>

                <p align="center" class="my-5">

                    <a href="/edit" class="btn btn-danger">
                        <i class="fa fa-user-circle" aria-hidden="true"> Add New Driver </i>
                    </a>
                </p>
                <div align="center" class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-danger table-responsive-md">
                            <thead class = "thead-dark">
                            <tr>
                                <th>Phone Number (+27)</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="employee : ${employees}">
                                <td th:text="${employee.phoneNumber}"></td>
                                <td th:text="${employee.firstName}"></td>
                                <td th:text="${employee.lastName}"></td>
                                <td>
                                    <a th:href="@{/edit/{id}(id=${employee.id})}" class="btn btn-danger">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/delete/{id}(id=${employee.id})}" class="btn btn-danger">
                                        <i class="fa fa-window-close" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

</div>
</body>

</html>